<!doctype html>
<html lang="en">
<head>
    <title>Test 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/static/css/achmea.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://demos.jquerymobile.com/1.4.5/js/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!--<script type="text/javascript" src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/notify.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <!--<script type="text/javascript" src="/static/js/jquery.ui.touch-punch.min.js"></script>-->

    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script>
        $(function () {
            connectSmartCities();
        });
    </script>
</head>
<body>
<div id="container">
    <div id="home" data-role="page">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
            <div class="dropdown header-dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="dropdown-content header-dropdown-menu">
                    <ul data-role="listview" data-inset="true">
                        <li data-icon="false"><a href="#"><i class="fa fa-sort"></i> Sort tiles</a></li>
                        <li data-icon="false"><a href="/logout" rel="external"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container">
            <div class="row">
                <div class="panel-button-container panel-no-button">
                    <div id="date-container">
                        <span id="time"></span>
                        <span id="date"></span>
                        <span id="full-date"></span>
                    </div>
                </div>
                <div class="panel-button-container">
                    <div class="ui-btn panel-button"><i class="sensor-icon active"></i><h6 id="sensor-count">4 Sensoren
                        actief</h6></div>
                </div>
            </div>
            <div class="row">
                <div class="panel-button-container">
                    <a href="#new-devices-dialog" data-rel="dialog" data-transition="slidedown">
                        <div class="ui-btn panel-button">
                            <i class="fa fa-plus" style="margin-top: 5%;"></i>
                            <h6>Add new sensor</h6>
                        </div>
                    </a>
                </div>
                <div class="panel-button-container">
                    <div class="ui-btn panel-button">
                        <h5>Schade gevallen</h5>
                        <i class="fa fa-tint" style="font-size: 40px;"></i>
                        <span id="damage-occurrences" class="icon-text">3</span>
                        <h5>November 2017</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-button-container">
                    <div class="ui-btn panel-button">
                        <h4>Amersfoort</h4><i class="fa fa-cloud"></i><h4 id="temperature">15°C</h4>
                    </div>
                </div>
                <div class="panel-button-container">
                    <a href="#settings-rooms">
                        <div class="ui-btn panel-button">
                            <h4>Kamers</h4><i class="fa fa-bed"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home" class="ui-btn-active"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
        </div>

        <div role="main">
            <ul class="mobile-list" data-role="listview">
                <li><a href="#settings-rooms" data-transition="slide"><i class="fa fa-bed"></i>Kamers</a></li>
                <li><a href="#settings-ice" data-transition="slide"><i class="fa fa-exclamation-triangle"></i>ICE</a></li>
                <li><a href="#settings-software" data-transition="slide"><i class="fa fa-code"></i>Software</a></li>
            </ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-rooms" data-theme="a">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>
                Terug</a>
            <h1>Kamers</h1>
        </div>

        <div role="main">
            <ul class="mobile-list" data-role="listview"></ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-ice" data-theme="a">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>
                Terug</a>
            <h1>ICE</h1>
        </div>

        <div role="main">
            <ul class="mobile-list" data-role="listview"></ul>
        </div>

        <div class="room-tools">
            <a href="#"><i class="fa fa-plus"></i></a>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="ice-contact" data-theme="a">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>
                Terug</a>
            <h1>Contact 1</h1>
        </div>

        <div role="main" class="row justify-content-center">
            <div class="col-md-4 col-lg-3">
                <form id="ice-contact-form">
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" name="name" placeholder="Vul een naam in...">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Vul een email in...">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Telefoonnummer</label>
                        <input type="tel" class="form-control" name="phone_number" placeholder="Vul een telefoonnummer in...">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-room" data-theme="a">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>Terug</a>
            <h1 id="room-title">Kamer 1</h1>
        </div>

        <div role="main">
            <ul id="sensors" class="mobile-list" data-role="listview"></ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-software">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
        </div>

        <div role="main">
            <ul class="mobile-list" data-role="listview">
                <li>Versie: 3.2</li>
                <li><a href="#settings-software-privacy" data-transition="slide"><i class="fa fa-file-text-o"></i>Privacy verklaring</a></li>
                <li><a href="#settings-software-global" data-transition="slide"><i class="fa fa-file-text-o"></i>Algemene voorwaarden</a></li>
            </ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-software-privacy">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
        </div>

        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>Terug</a>
            <h1 id="room-title">Privacy verklaring</h1>
        </div>

        <div role="main">
            <ul data-role="listview">
                <li>
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                </li>
            </ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="settings-software-global">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
        </div>

        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <a class="ui-btn back-button" href="/" data-rel="back" data-direction="reverse"><i
                    class="fa fa-chevron-left"></i>Terug</a>
            <h1 id="room-title">Algemene voorwaarden</h1>
        </div>

        <div role="main">
            <b><br/>Algemene voorwaarden<br/><br/></b>
            <ul data-role="listview">
                <li>
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                    Lorem ipsum....
                </li>
            </ul>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings" class="ui-btn-active"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="help">
        <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
            <img class="logo" border="0" src="https://www.achmea.nl/Style%20Library/achmea/images/achmea_logo.png"/>
        </div>

        <div role="main">
            <div id="online-help-container" class="ui-body ui-body-a ui-corner-all">
                <h3>Online hulp</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit
                    fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec.
                </p>
                <button class="ui-btn">Bezoek de website</button>
            </div>

            <div class="ui-body ui-body-a ui-corner-all">
                <h3>Bel ons</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit
                    fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec.
                </p>
                <button class="ui-btn"><i class="fa fa-phone"></i> Bel 0900 1234 5678</button>
            </div>
        </div>

        <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i></a></li>
                    <li><a href="#statistics"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#settings"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#help" class="ui-btn-active"><i class="fa fa-question"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sensor-popup" data-role="popup" class="ui-corner-all">
        <div style="padding:10px 20px;">
            <form role="form">
                <div class="form-group">
                    <label for="sensor-name">Vul een naam in:</label>
                    <input id="sensor-name" class="form-control" type="text" value="" placeholder="Vul een naam in...">
                    <span class="help-block text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary">Wijzig naam</button>
            </form>
        </div>
    </div>

    <!-- Page to add new devices -->
    <div data-role="page" id="new-devices-dialog">
        <div data-role="header">
            <h2>New Devices</h2>
        </div>
        <div role="main" class="ui-content">
            <p>Zet de hub pairing modes.</p>
            <div id="loading">
                <i class="fa fa-spin fa-refresh"></i>
            </div>

            <hr/>

            <div id="device-list"></div>
        </div>
    </div>

</div>
</body>
</html>